* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    width: 30vw;
    height: 60vh;
    /* background-color: #fff; */

    .game {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);

        .box {
            display: grid;
            place-items: center;
            border-width: 2px;
            border-style: solid;
            border-color: transparent;
            min-width: 100%;
            min-height: 100%;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 52px;
            cursor: pointer;

            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(4),
            &:nth-of-type(5) {
                border-right-color: red;
                border-bottom-color: red;
            }

            &:nth-of-type(3),
            &:nth-of-type(6) {
                border-bottom-color: red;
            }

            &:nth-of-type(7),
            &:nth-of-type(8) {
                border-right-color: red;
            }
        }
    }

    .result {
        width: 40vw;
        height: 50vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 7px;

        &::backdrop {
            background-color: rgba(50, 50, 50, 0.979);
        }

        .content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;

            h4 {
                font-size: 32px;
            }

            .btn-wrapper {
                display: flex;
                gap: 20px;

                #playagain,
                #close {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px 25px;
                    border-radius: 7px;
                    border: none;

                }
            }

        }
    }
}


.actions {
    padding: 20px;
    width: 20%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 2.5px solid rgb(168, 168, 168);
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-radius: 7px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    h3 {
        font-size: 26px !important;
    }


    .action-btn-wrapper {
        display: flex;
        gap: 10px;

        #reset,
        #undo,
        #share {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 15px;
            background-color: #fff;
            border: none;
            border-radius: 3px;
            position: relative;

            &:hover>tool-tip {
                opacity: 1;
                transform: translateY(-55px);
            }

            tool-tip {
                padding: 7px 20px;
                width: fit-content;
                text-wrap: nowrap;
                position: absolute;
                opacity: 0;
                transform: translateY(-50px);
                background-color: #626262;
                pointer-events: none;
                user-select: none;
                font-size: 16px;
                border-radius: 3px;
                color: white;
                transition: opacity .4s ease, transform .4s ease;

                &::before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 10px 13px 10px;
                    border-color: transparent transparent #626262 transparent;
                    position: absolute;
                    bottom: -12px;
                    left: 50%;
                    transform: translateX(-50%) rotate(180deg);
                }
            }
        }
    }
}


@media (max-width: 426px) {

    body {
        width: 100vw;
        position: relative;
        flex-direction: column;
        overflow: hidden;
    }

    main {
        padding: 2px;
        width: 100%;
        overflow-x: hidden;

        .result{
            width: 100vw;
            height: 30vh;
            
        }
    }

    .actions {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: start;
        order: -1;
        position: absolute;
        top: 0;
        left: 0;
        border: none;

        h3{
            white-space: nowrap;
        }

        .action-btn-wrapper {
            width: 100%;
            gap: 10px;
            justify-content: start;

            #reset,
            #undo,
            #share {
                padding: 5px 10px;

                &:hover>tool-tip {
                    opacity: 1;
                    transform: translateY(55px);
                }


                tool-tip {
                    transform: translateY(50px);

                    &::before {
                        top: -12px;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}




@media (min-width: 768px) and (max-width: 1024px){
    body {
        width: 100vw;
        position: relative;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    main {
        padding: 50px 2px 0;
        width: 95%;
        height: 80vh;
        overflow-x: hidden;

        .result{
            width: 100vw;
            
        }
    }

    .actions {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: start;
        order: -1;
        position: absolute;
        top: 0;
        left: 0;
        border: none;

        h3{
            white-space: nowrap;
        }

        .action-btn-wrapper {
            width: 100%;
            gap: 10px;
            justify-content: start;

            #reset,
            #undo,
            #share {
                padding: 5px 10px;

                &:hover>tool-tip {
                    opacity: 1;
                    transform: translateY(55px);
                }


                tool-tip {
                    transform: translateY(50px);

                    &::before {
                        top: -12px;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}